In [88]:
import pandas as pd
from datetime import datetime
import numpy as np

In [34]:
df = pd.read_csv('train.csv/train.csv')
df.tail()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
1710665,1404171463620000698,C,NaN,NaN,20000698,1404171463,A,False,"[[-8.612469,41.14602],[-8.612487,41.145993],[-..."
1710666,1404171367620000670,C,NaN,NaN,20000670,1404171367,A,False,"[[-8.610138,41.140845],[-8.610174,41.140935],[..."
1710667,1388745716620000264,C,NaN,NaN,20000264,1388745716,A,False,[]
1710668,1404141826620000248,B,NaN,12.0,20000248,1404141826,A,False,"[[-8.630712,41.154885],[-8.63073,41.154813],[-..."
1710669,1404157147620000079,B,NaN,34.0,20000079,1404157147,A,False,"[[-8.615538,41.140629],[-8.615421,41.140746],[..."

✅ Step 1: Load & Explore the Data

In [10]:
print(df.info())
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710670 entries, 0 to 1710669
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   TRIP_ID       int64
 1   CALL_TYPE     object
 2   ORIGIN_CALL   float64
 3   ORIGIN_STAND  float64
 4   TAXI_ID       int64
 5   TIMESTAMP     int64
 6   DAY_TYPE      object
 7   MISSING_DATA  bool
 8   POLYLINE      object
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 106.0+ MB
None
             TRIP_ID CALL_TYPE    ORIGIN_CALL   ORIGIN_STAND       TAXI_ID  \
count   1.710670e+06   1710670  364770.000000  806579.000000  1.710670e+06
unique           NaN         3            NaN            NaN           NaN
top              NaN         B            NaN            NaN           NaN
freq             NaN    817881            NaN            NaN           NaN
mean    1.388622e+18       NaN   24490.363018      30.272381  2.000035e+07
std     9.180944e+15       NaN   19624.290043      17.747840  2.112405e+02
min     1.372637e+18       NaN    2001.000000       1.000000  2.000000e+07
25%     1.380731e+18       NaN    6593.000000      15.000000  2.000017e+07
50%     1.388493e+18       NaN   18755.000000      27.000000  2.000034e+07
75%     1.396750e+18       NaN   40808.000000      49.000000  2.000052e+07
max     1.404173e+18       NaN   63884.000000      63.000000  2.000098e+07

           TIMESTAMP DAY_TYPE MISSING_DATA POLYLINE
count   1.710670e+06  1710670      1710670  1710670
unique           NaN        1            2  1703650
top              NaN        A        False       []
freq             NaN  1710670      1710660     5901
mean    1.388622e+09      NaN          NaN      NaN
std     9.180944e+06      NaN          NaN      NaN
min     1.372637e+09      NaN          NaN      NaN
25%     1.380731e+09      NaN          NaN      NaN
50%     1.388493e+09      NaN          NaN      NaN
75%     1.396750e+09      NaN          NaN      NaN
max     1.404173e+09      NaN          NaN      NaN

In [12]:
df.isnull().sum()

TRIP_ID               0
CALL_TYPE             0
ORIGIN_CALL     1345900
ORIGIN_STAND     904091
TAXI_ID               0
TIMESTAMP             0
DAY_TYPE              0
MISSING_DATA          0
POLYLINE              0
dtype: int64

In [82]:
df.dtypes

TRIP_ID                  int64
CALL_TYPE             category
ORIGIN_CALL             object
ORIGIN_STAND            object
TAXI_ID                  int64
TIMESTAMP       datetime64[ns]
DAY_TYPE              category
MISSING_DATA              bool
POLYLINE                object
dtype: object

In [16]:
df.duplicated().sum()

3

In [18]:
total_rows = len(df)
missing_percentage = (df.isnull().sum() / total_rows) * 100
print(missing_percentage)

TRIP_ID          0.000000
CALL_TYPE        0.000000
ORIGIN_CALL     78.676776
ORIGIN_STAND    52.850111
TAXI_ID          0.000000
TIMESTAMP        0.000000
DAY_TYPE         0.000000
MISSING_DATA     0.000000
POLYLINE         0.000000
dtype: float64

In [46]:
df['ORIGIN_CALL'] = df['ORIGIN_CALL'].astype('object')
df['ORIGIN_CALL'] = df['ORIGIN_CALL'].fillna("Street Hailed")

In [44]:
df['ORIGIN_STAND'] = df['ORIGIN_STAND'].astype('object')
df['ORIGIN_STAND'] = df['ORIGIN_STAND'].fillna("Not from Taxi Stand")

In [52]:
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,Street Hailed,Not from Taxi Stand,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,Street Hailed,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,Street Hailed,Not from Taxi Stand,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,Street Hailed,Not from Taxi Stand,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,Street Hailed,Not from Taxi Stand,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [50]:
df = df[df["POLYLINE"].notna()]

✅ Step 3: Convert Data Types

In [61]:
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'] , unit ='s')

In [65]:
df["MISSING_DATA"] = df["MISSING_DATA"].astype(bool)

In [71]:
df['CALL_TYPE'] = df['CALL_TYPE'].astype('category')

In [80]:
df["DAY_TYPE"] = df["DAY_TYPE"].astype("category")

In [121]:
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,trip_duration,hour,day_of_week,rush_hour
0,1372636858620000589,C,Street Hailed,Not from Taxi Stand,20000589,2013-07-01 00:00:58,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",345,0,Monday,0
1,1372637303620000596,B,Street Hailed,7.0,20000596,2013-07-01 00:08:23,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",285,0,Monday,0
2,1372636951620000320,C,Street Hailed,Not from Taxi Stand,20000320,2013-07-01 00:02:31,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...",975,0,Monday,0
3,1372636854620000520,C,Street Hailed,Not from Taxi Stand,20000520,2013-07-01 00:00:54,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",645,0,Monday,0
4,1372637091620000337,C,Street Hailed,Not from Taxi Stand,20000337,2013-07-01 00:04:51,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",435,0,Monday,0

In [84]:
print(f"Duplicate Rows: {df.duplicated().sum()}")

Duplicate Rows: 3

In [86]:
df = df.drop_duplicates()

In [113]:
df.shape

(1631890, 10)

✅ Step 5: Handle Outliers

In [100]:
# Extract trip duration from POLYLINE (each point is recorded every 15 sec)
df["trip_duration"] = df["POLYLINE"].apply(lambda x: len(eval(x)) * 15)

In [109]:
# Calculate IQR for trip duration
Q1 = df["trip_duration"].quantile(0.25)
Q3 = df["trip_duration"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
# Remove extreme trip durations
df = df[(df["trip_duration"] >= lower_bound) & (df["trip_duration"] <= upper_bound)]

✅ Step 6: Extract Useful Features

In [115]:
# Extract time-related features
df['hour'] = df['TIMESTAMP'].dt.hour
df['day_of_week'] = df['TIMESTAMP'].dt.day_name()

C:\Users\Engr Noman Mahmood\AppData\Local\Temp\ipykernel_2652\614650881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = df['TIMESTAMP'].dt.hour
C:\Users\Engr Noman Mahmood\AppData\Local\Temp\ipykernel_2652\614650881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_of_week'] = df['TIMESTAMP'].dt.day_name()

In [119]:
# Create a feature for rush hours (morning & evening rush)
df["rush_hour"] = df["hour"].apply(lambda x: 1 if (7 <= x <= 9 or 17 <= x <= 19) else 0)

C:\Users\Engr Noman Mahmood\AppData\Local\Temp\ipykernel_2652\2380360289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rush_hour"] = df["hour"].apply(lambda x: 1 if (7 <= x <= 9 or 17 <= x <= 19) else 0)

In [123]:
df.to_csv("cleaned_taxi_data.csv", index=False)